h2 {
    color: teal
}

li {
    font-size: large;
}

a:hover {
    background-color: yellow;
  }

.second {
    font-weight: bold;
}

#bottomDiv {
    background-color: cornflowerblue;
}

#bird {
    border: 1rem solid;    
    padding: 15px;
}